<form method="post" action="{{ path('admin_book_delete', {'id': book.id}) }}" onsubmit="return confirm('êtes vous sur de vouloir supprimer cette Oeuvre ?!');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
