<form method="post" action="{{ path('admin_commentary_delete', {'id': commentary.id}) }}" onsubmit="return confirm('êtes vous sur de vouloir supprimer ce Commentaire ?!');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentary.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
