{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="btn-return-container">
    <button class="btn btn-outline-success mt-3 mb-4">{{ button_label|default('Commenter') }}</button>
</div>
{{ form_end(form) }}
