{% extends 'base.html.twig' %}

{% block title %}Home Mangas DB
{% endblock %}


{% block body %}
    <div class="carousel">
        <img class="image" src="build//images/dorowallpaper.jpg" alt="Doroehdoro wallpaper">
    </div>
    <section class="container">
        <div class="title">
            <h1>Liste des Categories</h1>
        </div>
        {% for category in categories %}
            <div class="card-container-category">
                <div class="cards" style="width: 18rem;">
                    <img src="{{ category.categoryImage }}" class="card-img-top" alt="Image des categories">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <a href="#" class="btn btn-outline-primary">Voir tous les mangas de cette Categorie</a>
                    </div>
                </div>
            </div>
            {# <a href="{{ path('book_show') }}">Allez voir cette oeuvre</a> #}
        {% else %}
            <p>pas de mangas enregistré</p>
        {% endfor %}
    </section>
{% endblock %}
