@import "~bootstrap/scss/bootstrap";

body {
    background-color: #FFD68A;
}

.container-fluid {
    background-color: #FFD68A;
}

.collapse.navbar-collapse {
    height: 70px!important;
}

.autocomplete {
    display: none;
}

.carousel {
    display: flex;
}

.image {
    height: 500px;
    width: 100%;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    color: #006B00;
}

.container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}

.cards {
    color: #006B00;
    border: 1px solid #006B00;
    width: 100%;
    height: 100%;
    margin: 20px;
}
.card-img-top {
    width: 20rem;
    height: 500px;
    object-fit: cover;
}

.card-img-top-category {
    width: 20rem;
    height: 170px;
    object-fit: cover;
}

.card-title {
    display:flex;
    justify-content: center;
}

.card-category{
    display:flex;
    justify-content: center;
}

.card-author {
    display:flex;
    justify-content: center;
}

.card-artistes  {
    display:flex;
    justify-content: center;
}


.book-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.book-img{
    width:40%;

}

.book-infos {
    color: #006B00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        li {
           margin-bottom: 20px;
        }
    }
}

.book-description {
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
    color: #006B00;
}

.form-container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #006B00;
    width: 40%;
    margin: 20px auto;
}
.form-container-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #006B00;
    width: 50%;
    margin: 20px auto;
}
.form-container-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #006B00;
    width: 60%;
    margin: 20px auto;
}
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-register {
    color: #006B00;
}
h1 {
    color: #006B00;
}
strong {
    display: flex;
    justify-content: center;
    color: #006B00;
    margin-bottom: 15px;
}

.btn {
    background: #FFD68A;
    color: #006B00;
}

.btn-card {
    display: flex;
    justify-content: center;
    background: #FFD68A;
    color: #006B00;
}

.btn-return-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-return {
    background: #FFD68A;
    color: #006B00;
    margin: 20px;
}

.pagination {
    justify-content: center;
    margin: 20px;
}

.page-link {
    background-color: white;
    color: green;
}
.navbar {
    img{
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .book-img {
        width: 60%;
    }
}
@media screen and (max-width: 992px) {
    .book-img {
        width: 100%;
    }
}
@media screen and (min-width: 992px) {
    .navbar {
        display: inline-flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        position: relative;
        height: 70px;
        //img {
        //    display: flex;
        //    height: 500px;
        //    width: 100%;
        //    position: absolute;
        //    top: 0;
        //    left: 0;
        //}
    }

    .navbar-nav {
        display: inline-flex;
    }
    .nav-search {
        display: inline-flex;
        align-items: center;
    }
    .nav-input {
        margin-right: 10px;
    }
}
@media screen and (max-width: 767px) {
    .carousel {
        display: none;
    }
    .book-container {
        display: flex;
        flex-direction: column;
        .book-img {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

