<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/category">Categories</a>
            </li>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Rechercher</button>
        </form>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <ul class="user-nav">
                    <li class="user-connexion">
                        <a href="{{ path('app_logout') }}" class="user-connexion-link">Déconnexion</a>
                    </li>
                </ul>
            {% else %}
                <ul class="user-nav">
                    <li class="user-connexion">
                        <a href="/login" class="user-connexion-link">Se connecter</a>
                    </li>
                    <li class="user-connexion">
                        <a href="/register" class="user-connexion-link">S'inscrire</a>
                    </li>
                </ul>
            {% endif %}
        </ul>
    </div>
</nav>
